# Dependencies
node_modules/

# Build output
dist/

# Local environments
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Local and editor files
.DS_Store
.idea/
.vscode/

# Logs
*.log
npm-debug.log*
